<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digimon</title>
</head>
    <center>
        <img src="https://png2.cleanpng.com/sh/a519c0d42c0b86cc6187412091f0d9ba/L0KzQYm3VcAyN5R1j5H0aYP2gLBuTfRqb5pyh9C2d3B1fLW0jvV5fF50itZucj3zfLLCkCRifJp0hp89LXTsd7r0jB4ue6UyTdNuOHG6QYmBgfQ5amozUao7Mki6SIO4VcI2OWo7TagDNUa7R3B3jvc=/kisspng-digimon-world-next-order-playstation-4-digimon-st-5ae8a7188ad8b9.9822878215251965685687.png" style="width:500px;height:400px;">
    </center>
<body>
    <a>
    <center>
        <form action="http://localhost:5000/result" method="post">
            <p><input name="digimon" type="text" placeholder="Digimon favoritku..." required></p>
            <input type="submit" value="Submit">
        </form>
    </center>
    </a>
</body>
</html>